version: "3.9"
services:
  redis: 
    image: redis:latest
    container_name: redis
    ports: 
      - "6379:6379"
    volumes:
      - redis_data:/data
  
  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

  backend: 
    build: ./backend
    ports: 
      - "${PORT}:${PORT}"
    env_file:
      - ./.env
    depends_on:
      - redis
      - mongo
    volumes:
      - ./backend:/app

  frontend: 
    build: ./frontend
    ports: 
      - "5173:5173"
    env_file:
      - ./.env
    depends_on:
      - backend
    volumes:
      - ./frontend:/app

volumes:
  redis_data:
  mongodb_data: